.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

.fill-center {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-primary {
  color: $col-primary;
}

.col-dark {
  color: $col-dark;
}
