$font: "Montserrat", sans-serif;

$col-white: #fff;
$col-light: rgb(255, 255, 255);
$col-black: #000;
$col-dark: rgb(17, 24, 39);
$col-grey: #e5e5e5;
$col-light-grey: rgb(243, 244, 246);
$col-danger: rgb(239, 58, 68);
$col-primary: rgb(19, 219, 219);
$col-primary-tint: rgb(8, 124, 124);
$col-secondary: rgb(236, 177, 68);
$col-secondary-tint: rgb(172, 112, 2);
$col-success: rgb(16, 185, 129);
$col-warning: rgb(245, 158, 11);
$col-error: rgb(239, 68, 68);
$col-info: rgb(59, 130, 246);

$shadow-primary: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 2px 0px;
